# Aviation Accidents Analysis

You are part of a consulting firm that is tasked to do an analysis of commercial and passenger jet airline safety. The client (an airline/airplane insurer) is interested in knowing what types of aircraft (makes/models) exhibit low rates of total destruction and low likelihood of fatal or serious passenger injuries in the event of an accident. They are also interested in any general variables/conditions that might be at play. Your analysis will be based off of aviation accident data accumulated from the years 1948-2023. 

Our client is only interested in airplane makes/models that are professional builds and could potentially still be active. Assume a max lifetime of 40 years for a make/model retirement and make sure to filter your data accordingly (i.e. from 1983 onwards). They would also like separate recommendations for small aircraft vs. larger passenger models. **In addition, make sure that claims that you make are statistically robust and that you have enough samples when making comparisons between groups.**


In this summative assessment you will demonstrate your ability to:
- **Use Pandas to load, inspect, and clean the dataset appropriately.**
- **Transform relevant columns to create measures that address the problem at hand.**
- conduct EDA: visualization and statistical measures to systematically understand the structure of the data
- recommend a set of airplanes and makes conforming to the client's request and identify at least *two* factors contributing to airplane safety. You must provide supporting evidence (visuals, summary statistics, tables) for each claim you make.

### Make relevant library imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Inspection

### Load in data from the relevant directory and inspect the dataframe.
- inspect NaNs, datatypes, and summary statistics

In [2]:
# Load in data from the relevant directory
df = pd.read_csv("data/AviationData.csv", low_memory=False, encoding="latin-1")
us_states = pd.read_csv("data/USState_Codes.csv", encoding="latin-1")

# Inspect the aviation dataframe: shape, preview, dtypes, NaNs, and summary stats
print("AviationData shape:", df.shape)
display(df.head(5))
df.info()
display(df.isna().sum().sort_values(ascending=False).head(25))
display(df.describe(include="object").T.head(25))

AviationData shape: (88889, 31)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

Schedule                  76307
Air.carrier               72241
FAR.Description           56866
Aircraft.Category         56602
Longitude                 54516
Latitude                  54507
Airport.Code              38757
Airport.Name              36185
Broad.phase.of.flight     27165
Publication.Date          13771
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Registration.Number        1382
Injury.Severity            1000
Country                     226
Amateur.Built               102
Model                        92
dtype: int64

                       count unique             top   freq
Event.Id               88889  87951  20001212X19172      3
Investigation.Type     88889      2        Accident  85015
Accident.Number        88889  88863      CEN22LA149      2
Event.Date             88889  14782      1984-06-30     25
Location               88837  27758   ANCHORAGE, AK    434
Country                88663    219   United States  82248
Latitude               34382  25589         332739N     19
Longitude              34373  27154        0112457W     24
Airport.Code           50132  10374            NONE   1488
Airport.Name           52704  24870         Private    240
Injury.Severity        87889    109       Non-Fatal  67357
Aircraft.damage        85695      4     Substantial  64148
Aircraft.Category      32287     15        Airplane  27617
Registration.Number    87507  79104            NONE    344
Make                   88826   8237          Cessna  22227
Model                  88797  12318             152   2367
Amateur.Built          88787      2              No  80312
Engine.Type            81793     12   Reciprocating  69530
FAR.Description        32023     31             091  18221
Schedule               12582      3            NSCH   4474
Purpose.of.flight      82697     26        Personal  49448
Air.carrier            16648  13590           Pilot    258
Weather.Condition      84397      4             VMC  77303
Broad.phase.of.flight  61724     12         Landing  15428
Report.Status          82505  17074  Probable Cause  61754

## Data Cleaning

### Filtering aircrafts and events

We want to filter the dataset to include aircraft that the client is interested in an analysis of:
- inspect relevant columns
- figure out any reasonable imputations
- filter the dataset

In [3]:
# Standardize date and filter to 1983â€“2023 (40-year window), keep professional airplane builds and accidents
df['Event.Date'] = pd.to_datetime(df['Event.Date'], errors='coerce')
df = df[df['Event.Date'].notna()].copy()
df['Event.Year'] = df['Event.Date'].dt.year

# Investigation type: accidents only
df = df[df['Investigation.Type'].str.strip().str.upper() == 'ACCIDENT']

# Professional builds only (exclude amateur/homebuilt where marked Yes/True)
df['Amateur.Built'] = df['Amateur.Built'].astype(str).str.strip().str.upper()
df = df[~df['Amateur.Built'].isin(['YES', 'Y', 'TRUE', '1'])].copy()

# Airplane category only (exclude helicopters, balloons, etc.)
if 'Aircraft.Category' in df.columns:
    df = df[df['Aircraft.Category'].astype(str).str.upper() == 'AIRPLANE']

# Year filter
df = df[(df['Event.Year'] >= 1983) & (df['Event.Year'] <= 2023)].copy()
df.shape

(19943, 32)

### Cleaning and constructing Key Measurables

Injuries and robustness to destruction are a key interest point for the client. Clean and impute relevant columns and then create derived fields that best quantifies what the client wishes to track. **Use commenting or markdown to explain any cleaning assumptions as well as any derived columns you create.**

**Construct metric for fatal/serious injuries**

*Hint:* Estimate the total number of passengers on each flight. The likelihood of serious / fatal injury can be estimated as a fraction from this.

In [4]:
# Construct severe injury metrics
for col in ['Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

df['Estimated.Total.Occupants'] = (
    df[['Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']]
      .sum(axis=1, min_count=1)
)

df['Severe.Injury.Count'] = (
    df[['Total.Fatal.Injuries','Total.Serious.Injuries']].sum(axis=1, min_count=1)
)

df['Severe.Injury.Rate'] = (
    df['Severe.Injury.Count'] / df['Estimated.Total.Occupants']
)

# Flag any accident with at least one serious or fatal injury
df['Severe.Injury.Flag'] = (df['Severe.Injury.Count'].fillna(0) > 0)

df[['Estimated.Total.Occupants','Severe.Injury.Count','Severe.Injury.Rate','Severe.Injury.Flag']].head()

,Estimated.Total.Occupants,Severe.Injury.Count,Severe.Injury.Rate,Severe.Injury.Flag
4171,2.0,2.0,1.000000,True
4285,5.0,1.0,0.200000,True
5960,26.0,13.0,0.500000,True
6669,30.0,1.0,0.033333,True
6806,1.0,NaN,NaN,False

**Aircraft.Damage**
- identify and execute any cleaning tasks
- construct a derived column tracking whether an aircraft was destroyed or not.

In [5]:
# Clean aircraft damage and derive total destruction flag
if 'Aircraft.damage' in df.columns:
    df['Aircraft.damage'] = df['Aircraft.damage'].astype(str).str.strip().str.title()
    # Normalize common variants
    replacements = {
        'Destroyed (Substantial)': 'Destroyed',
        'Substantial Damage': 'Substantial',
        'Unknown': pd.NA,
        'UNK': pd.NA
    }
    df['Aircraft.damage'] = df['Aircraft.damage'].replace(replacements)
    df['Total.Destruction.Flag'] = df['Aircraft.damage'].eq('Destroyed')
else:
    df['Total.Destruction.Flag'] = False

df['Total.Destruction.Flag'].value_counts(dropna=False)

Total.Destruction.Flag
False    17624
True      2319
Name: count, dtype: int64

### Investigate the *Make* column
- Identify cleaning tasks here
- List cleaning tasks clearly in markdown
- Execute the cleaning tasks
- For your analysis, keep Makes with a reasonable number (you can put the threshold at 50 though lower could work as well)

In [6]:
# Clean and standardize Make
df['Make'] = df['Make'].astype(str).str.strip().str.upper().replace({'': pd.NA, 'NAN': pd.NA})
make_counts = df['Make'].value_counts(dropna=True)
display(make_counts.head(20))

# Keep makes with at least a threshold number of accidents for robust stats (e.g., >= 50)
MAKE_MIN_N = 50
df['Make.Count'] = df['Make'].map(make_counts)
df = df[df['Make.Count'] >= MAKE_MIN_N].copy()
df.drop(columns=['Make.Count'], inplace=True, errors='ignore')
print("Remaining rows after make filter:", df.shape[0])

Make
CESSNA                7031
PIPER                 3941
BEECH                 1392
BOEING                 553
MOONEY                 358
BELLANCA               217
AIR TRACTOR INC        217
MAULE                  215
CIRRUS DESIGN CORP     209
AIR TRACTOR            206
AERONCA                200
CHAMPION               157
GRUMMAN                146
LUSCOMBE               141
CIRRUS                 130
STINSON                129
NORTH AMERICAN         104
EMBRAER                 98
DEHAVILLAND             93
TAYLORCRAFT             93
Name: count, dtype: int64

Remaining rows after make filter: 16555

### Inspect Model column
- Get rid of any NaNs.
- Inspect the column and counts for each model/make. Are model labels unique to each make?
- If not, create a derived column that is a unique identifier for a given plane type.

In [7]:
# Clean Model and create a unique type identifier
df['Model'] = df['Model'].astype(str).str.strip().str.upper().replace({'': pd.NA, 'NAN': pd.NA})
# Drop rows where Model is missing
df = df[df['Model'].notna()].copy()

# Create a combined Make-Model identifier
df['Make_Model'] = (df['Make'].fillna('') + ' ' + df['Model'].fillna('')).str.strip()
df['Make_Model'] = df['Make_Model'].replace({'': pd.NA})

# Check uniqueness of model labels within a make
counts_by_make_model = df.groupby(['Make','Model']).size().sort_values(ascending=False).head(10)
display(counts_by_make_model)

df[['Make','Model','Make_Model']].head()

Make    Model
CESSNA  172          763
        152          311
        182          300
        172S         272
PIPER   PA28         268
CESSNA  172N         249
        180          212
        172M         179
        150          177
PIPER   PA-18-150    175
dtype: int64

              Make      Model          Make_Model
4171         PIPER  PA-28-140     PIPER PA-28-140
4285  DE HAVILLAND      DHC-6  DE HAVILLAND DHC-6
6806         BEECH        C35           BEECH C35
7084        CESSNA       180K         CESSNA 180K
7708         BEECH         99            BEECH 99

### Cleaning other columns
- there are other columns containing data that might be related to the outcome of an accident. We list a few here:
- Engine.Type
- Weather.Condition
- Number.of.Engines
- Purpose.of.flight
- Broad.phase.of.flight

Inspect and identify potential cleaning tasks in each of the above columns. Execute those cleaning tasks. 

**Note**: You do not necessarily need to impute or drop NaNs here.

In [8]:
# Standardize selected categorical columns
def clean_cat(series):
    return (series.astype(str)
                  .str.strip()
                  .str.replace(r'\s+', ' ', regex=True)
                  .str.title()
                  .replace({'Unk': pd.NA, 'Unknown': pd.NA, 'Nan': pd.NA, '': pd.NA}))

for col in ['Engine.Type','Weather.Condition','Purpose.of.flight','Broad.phase.of.flight']:
    if col in df.columns:
        df[col] = clean_cat(df[col])
        
# Numeric engines
if 'Number.of.Engines' in df.columns:
    df['Number.of.Engines'] = pd.to_numeric(df['Number.of.Engines'], errors='coerce')

# Show cleaned columns snapshot
cols_to_show = [c for c in ['Engine.Type','Weather.Condition','Number.of.Engines','Purpose.of.flight','Broad.phase.of.flight','Size.Segment'] if c in df.columns]
df[cols_to_show].head()

,Engine.Type,Weather.Condition,Number.of.Engines,Purpose.of.flight,Broad.phase.of.flight
4171,Reciprocating,Imc,1.0,Personal,Cruise
4285,Turbo Prop,Vmc,2.0,Skydiving,Standing
6806,Reciprocating,Vmc,1.0,Personal,Climb
7084,Reciprocating,Vmc,1.0,Personal,Takeoff
7708,Turbo Prop,Vmc,2.0,<NA>,Landing

### Column Removal
- inspect the dataframe and drop any columns that have too many NaNs

In [9]:
# Drop columns with too many missing values (e.g., > 70% NaN)
missing_frac = df.isna().mean().sort_values(ascending=False)
to_drop = missing_frac[missing_frac > 0.7].index.tolist()
df = df.drop(columns=to_drop)
print("Dropped columns due to missingness > 70%:", to_drop)
print("Remaining shape:", df.shape)

Dropped columns due to missingness > 70%: ['Schedule', 'Broad.phase.of.flight']
Remaining shape: (16544, 36)

### Save DataFrame to csv
- its generally useful to save data to file/server after its in a sufficiently cleaned or intermediate state
- the data can then be loaded directly in another notebook for further analysis
- this helps keep your notebooks and workflow readable, clean and modularized

In [10]:
# Save cleaned/intermediate dataset to CSV
output_path = "data/aviation_accidents_clean.csv"
df.to_csv(output_path, index=False)
print(f"Saved: {output_path}")

Saved: data/aviation_accidents_clean.csv